@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
html {
    --bg: #f5f6f7;
    --color-text: #9c9c9c;
    --color-orange: #ff6a00;
    --color-shadow: -4px -2px 4px 0px #ffffff, 
                    4px 2px 6px 0px #DFE4EA;

    --color-inset-shadow: inset -2px -2px 6px rgba(255,255,255,0.8),
                        inset 2px 2px 6px rgba(0,0,0,0.1); 

    --color-equal-shadow: -2px -2px 6px rgb(3, 169, 244, 0.01),
                        2px 2px 6px rgba(0,0,0,0.3);

    --color-equal-inset-shadow: inset -2px -2px 6px rgba(255, 106, 0,0.5),
                            inset 2px 2px 6px rgba(0,0,0,0.3); 
}

html[data-theme='dark'] {
    --bg: #131419;
    --color-text: #fff;
    --color-orange: #ff6a00;
    --color-shadow: -3px -3px 10px rgba(255,255,255,0.05), 
                    3px 3px 15px rgba(0,0,0,0.5);

    --color-inset-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                        inset 2px 2px 6px rgba(0,0,0,0.8);

    --color-equal-shadow: -2px -2px 6px rgb(3, 169, 244, 0.01),
                            2px 2px 6px rgba(0,0,0,0.8);

    --color-equal-inset-shadow: inset -2px -2px 6px rgba(255, 106, 0,0.2),
                                inset 2px 2px 6px rgba(0,0,0,0.5); 
}