@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
html {
    --bg: #f5f6f7;
    --color-text: #9c9c9c;
    --color-orange: #ff6a00;
    --color-shadow: -4px -2px 4px 0px #ffffff, 
                    4px 2px 6px 0px #DFE4EA;

    --color-inset-shadow: inset -2px -2px 6px rgba(255,255,255,0.8),
                        inset 2px 2px 6px rgba(0,0,0,0.1); 

    --color-equal-shadow: -2px -2px 6px rgb(3, 169, 244, 0.01),
                        2px 2px 6px rgba(0,0,0,0.3);

    --color-equal-inset-shadow: inset -2px -2px 6px rgba(255, 106, 0,0.5),
                            inset 2px 2px 6px rgba(0,0,0,0.3); 
}

html[data-theme='dark'] {
    --bg: #131419;
    --color-text: #fff;
    --color-orange: #ff6a00;
    --color-shadow: -3px -3px 10px rgba(255,255,255,0.05), 
                    3px 3px 15px rgba(0,0,0,0.5);

    --color-inset-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                        inset 2px 2px 6px rgba(0,0,0,0.8);

    --color-equal-shadow: -2px -2px 6px rgb(3, 169, 244, 0.01),
                            2px 2px 6px rgba(0,0,0,0.8);

    --color-equal-inset-shadow: inset -2px -2px 6px rgba(255, 106, 0,0.2),
                                inset 2px 2px 6px rgba(0,0,0,0.5); 
}
button{
    outline: none;
}
body {
    background-color: var(--bg);
}
.main{
    width: 300px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px; 
    background-color: var(--bg);
    box-shadow: var(--color-shadow);  
    overflow: hidden;
}


.heading{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1.75rem;
}
.heading span{
    color: var(--color-text);
    font-size: 1.125rem;
}
.heading span:nth-child(1),
.heading span:nth-child(3){
    cursor: pointer;
    font-size: 0.9375rem;
}
.heading span:nth-child(2){
    margin-top: 5px;
}
.heading span:nth-child(2)::after{
    width: 115px;
    content: '';
    position: absolute;
    bottom: -5%;
    border-bottom: 3px solid var(--color-orange);
    z-index: 100;
    left: 30%;
    border-radius: 0.625rem;
}